*{
  padding:0px;
  margin:0px;
}
.hide{
  display:none;
}
.hue{
  animation: hueRotate 1s infinite;
}
  @keyframes hueRotate {
    0%{filter:hue-rotate(0deg);}
    50%{filter:hue-rotate(360deg);}
    100%{filter:hue-rotate(0deg);}
  }

#background{
  z-index:-9;
}
    #bg{
      position:fixed;
      height:100vh;
      width:100vw;
    }
    #readme{
      position:absolute;
      height:100px;
      left:46vw;
      top:40vh;
      opacity:1;
    }
    #readmeclick{
      position:absolute;
      height:107px;
      left:45.5vw;
      top:40vh;
      opacity:0;
    }
    #readmeclick:hover{
      opacity:1;
    }

#popup1 img{
  position:absolute;
  height:400px;
  left:33vw;
  top:20vh;
  z-index:5;
}

/*ladies*/
#ladies img{
  z-index:1;
  height:400px;
}
